@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

:root {
  --secondary-color: #545b5a;
  --main-background-color: #e9ece6;
  --border-color: #c0dfd9;
  --grid-default-color: rgba(255, 255, 255, 0.8);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Silkscreen', cursive;
}

.site {
  display: flex;
  flex-direction: column;
  margin: 0px;
  background-color: var(--main-background-color);
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  margin: auto;
  padding: 10px;
  width: 500px;
  height: 500px;
}

.grid-item {
  border: 1px solid rgba(78, 78, 78, 0.11);
  background-color: var(--grid-default-color);
  font-size: 10px;
  text-align: center;
}

.grid-item:hover {
  background-color: var(--secondary-color);
}

.tools-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  width: 500px;
}

.tools-container button {
  border-radius: 50%;
  padding: 5px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.logo {
  padding: 10px;
  font-size: 2em;
}

.logoImage {
  padding: 10px;
  width: 50px;
  height: 50px;
}

header,
footer {
  display: flex;
  flex: 0 1 100%;
  border-bottom: 10px solid var(--border-color);
  background-color: var(--secondary-color);
  width: 100%;
  height: 75px;
}

footer {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer p {
  text-decoration: underline;
}

footer img {
  width: 30px;
  height: 30px;
}

/*102 lines pre css refactor*/
